

  <main>

    <div class="side-bar Inicio" id="inicio">

        <section id="promociones">
          <h2>PROMOCIONES</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et minima officiis dolore accusantium? Rem quae ut odit, voluptatem nesciunt tempore doloribus debitis aspernatur possimus ad magni dolorem accusamus iste earum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, nam! Obcaecati perferendis, nostrum tenetur, facere non reiciendis culpa repellat exercitationem laboriosam soluta quas quia consequuntur consectetur eligendi molestiae maiores voluptatum.
          </p>

          <div class="promocion">
            <h3>Postres de abril</h3>

            <div class="columnas-50">
              <div class="postre1">
                <h4>postre especial</h4>
                <img src="../../../assets/img/lemon pie.jpg" alt="lemon pie">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione rem iure qui et dicta exercitationem architecto at culpa doloribus adipisci itaque perferendis, dolor quia minima quibusdam deleniti eligendi veritatis! Repudiandae.
                </p>
              </div>

              <div class="postre2">
                <h4>Postre por el dia del niño</h4>
                <img src="../../../assets/img/torta de chocolate.jpg" alt="torta de chocolate" >
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione rem iure qui et dicta exercitationem architecto at culpa doloribus adipisci itaque perferendis, dolor quia minima quibusdam deleniti eligendi veritatis! Repudiandae.
                </p>
              </div>
            </div>
            
          </div>

        </section>

        <section id="reposteria">
          <h2>REPOSTERÍA</h2>

          <div class="contenido-reposteria">
          <img src="../../../assets/img/torta de crema-ganash.jpg" alt="torta profesional">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam ex, dignissimos dolor quisquam est non quod, dicta, hic quo repudiandae dolorem? Sequi exercitationem in eos enim nostrum. At, necessitatibus nostrum? <br><br>
              Velit id, ipsam itaque quae minus odit vel amet sit exercitationem, facilis asperiores, corporis libero possimus dolor. Aspernatur qui doloremque atque, modi voluptas odit voluptatibus natus est suscipit porro fugiat.
              Sit consectetur incidunt, expedita reprehenderit mollitia adipisci! Illo neque cum illum voluptas iure repellat maiores laudantium est esse, rem et delectus ex? Sed illo delectus, consequuntur nam eos labore amet.
              Quos incidunt maiores facere, cupiditate temporibus numquam sunt quo hic. Quasi culpa perspiciatis porro iste, reprehenderit optio inventore cumque repellat totam eius repudiandae sint. Praesentium nemo mollitia labore earum autem.
            </p>
          </div>
          
        </section>

        <section id="postre-saludable">
          <h2>POSTRES SALUDABLES</h2>

          <div class="fila-3">
            <div class="columna-33">

              <div class="postreS1">
                  <img src="../../../assets/img/postreS1.jpg" alt="panqueque de avena">

                <div class="postreS-contenido">
                  <h3>Panqueques de avena con frutos</h3>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod perferendis similique, nemo sint voluptatem sit?
                  </p>
                </div>
              </div>

            </div>

            <div class="columna-33">

              <div class="postreS2">
                  <img src="../../../assets/img/postreS2.jpg" alt="batido de chocolate">

                <div class="postreS-contenido">
                  <h3>Batido Super Choc</h3>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo in rerum velit eligendi. Doloremque, necessitatibus?
                  </p>
                </div>
              </div>

            </div>

            <div class="columna-33">

              <div class="postreS3">
                  <img src="../../../assets/img/postreS3.jpg" alt="helado de frutos rojos">

                <div class="postreS-contenido">
                  <h3>Helado de frutos rojos</h3>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum dolor maxime ipsum porro odit cumque.
                  </p>
                </div>
              </div>

            </div>
          </div>
          
        </section>

        
    </div>




  </main>
