*{
  margin: 0;
  margin-top: -8px;
  box-sizing: border-box;
}

/* a{
  text-decoration: none;
  margin: 15px;
  font-size: 22px;
  color: #682F24;
}

.indice{
  margin: 0 auto;
  padding: 35px 0px;
  margin-right: 60px;
} */


/*SIDE BAR*/
/* .wrapper .side-bar{
  background-color: #492618;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  padding-right: 20px;
  visibility: hidden;
}

.wrapper .side-bar ul{
  list-style: none;
  text-decoration: none;
}

.wrapper .side-bar ul li a{
  display: block;
  padding: 13px 30px;
  color: #fdf1e2;
  border-bottom: 1px solid #fdf1e2;
  font-size: 16px;
  position: relative;
}

.wrapper .side-bar ul li a img{
  width: 101%;
} */

/*CONTENIDO*/

/* .encabezado{
  top: 0;
  background-color: #fdf1e2;
  display: flex; 
  justify-content: space-between;
  position: relative;
  padding-right: 20PX;
  width: 100.6%;
} */


/* .encabezado .logo{
  width: 150px;
}

nav{
  color: #492618;
  font-weight: bold;
  margin-left: 15px;
  display: inline-block;
  font-family: 'Happy Monkey', cursive;
}

.indice{
  width: 80%;
  text-align: right;
} */

/* .banner img{
  width: 100%;
  position: relative;
} */
/* 
.banner .texto-banner{
  width: 100.63%;
  text-align: center;
  padding: 100px 0px 100px 0px;
  font-size: 70px;
  color: white;
  font-family: 'Alex Brush', cursive;

  background-image: linear-gradient(to top,rgba(28, 28, 28, 0.44) 0%, rgba(1, 1, 1, 0.418) 100%), url(../../../assets/img/cupcake-chocolate.jpg);
  background-size: 100%;
  background-position-y: top;
} */



main h2{
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #492618;
  font-family: 'Happy Monkey', cursive;
  font-weight: bold;
  padding: 30px;
}

#promociones p{
  margin-left: 90px;
  margin-top: 15px;
  margin-right: 90px;
  font-size: 15px;
  font-family: 'Happy Monkey', cursive;
}

h3{
  color: rgb(203, 144, 18);
}

.promocion h3{
  font-size: 33px;
  text-align: center;
  font-family: 'Happy Monkey', cursive;
  margin-top: 30px;
  margin-bottom: 30px;
}

.columnas-50{
  margin-left: 30px;
  margin-right: 30px;
  display: flex; 
  justify-content: space-between;
  font-family: 'Happy Monkey', cursive;

}

.img{
  width: 80%;
}

.postre1{
  width: 50%;
  text-align: center;
  font-size: 15px;
}

.postre2{
  width: 50%;
  text-align: center;
  font-size: 15px
}

.postre1 img{
  width: 80%;
}

.postre2 img{
  width: 80%;
}

.promocion h4{
  font-size: 23px;
  margin: 20px;
  font-family: 'Happy Monkey', cursive;
  color: rgb(203, 151, 18);
}

#reposteria{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
}

.contenido-reposteria img{
  width: 50%;
  float: left;
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.contenido-reposteria p{
  padding: 20px;
  font-size: 15px;
  margin-right: 100px;
  font-family: 'Happy Monkey', cursive;
}


#postre-saludable{
  width: 100.6%;
  background-color: rgba(212, 176, 128, 0.512);
  margin-top: 200px;
  padding-bottom: 50px;
}

img{
  width: 30px;
}


.fila-3{
  margin-left: 30px;
  display: flex; 
  justify-content: space-between;
}

.columna-33{
  width: 33.33%;
  text-align: center;
}

.postreS1 img{
  width: 90%;
}

.postreS2 img{
  width: 90%;
}

.postreS3 img{
  width: 90%;
} 

.postreS-contenido{
  padding: 15px;
  text-align: center;
  font-family: 'Happy Monkey', cursive;
}

.postreS-contenido h3{
  padding: 15px;
  font-size: 22px;
}