
  <header>
    <div class="encabezado">
      <a href="#">
        <img src="../../../assets/img/logoFri.png" alt="logo del lugar" class="logo">
      </a>
      
      <nav class="indice">
        <a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a>
        <a [routerLink]="['productos']" routerLinkActive="active">Productos</a>
        <a [routerLink]="['nosotros']" routerLinkActive="active">Nosotros</a>
        <a [routerLink]="['contactanos']" routerLinkActive="active">Contáctanos</a>
      </nav>

      <a href="#" class="hamb">
        <i class="fa-solid fa-bars"></i>
      </a>
    </div>

    <div class="banner">
      

      <div class="texto-banner">
        <span>Te endulzamos la <br>vida</span>
    </div>
  </div>

  <div class="wrapper">
    <div class="side-bar">

      <ul>

        <li>
          <a href="#"> <img src="../../../assets/img/logoFri.png" alt="logo"></a>
        </li>
        <li>
          <a href="#inicio" id="link1">
            <span class="item">Ipnicio</span>
          </a>
        </li>
        <li>
          <a href="#productos" id="link2">
            <span>Productos</span>
          </a>
        </li>
        <li>
          <a href="#nosotros" id="link3">
            <span>Nosotros</span>
          </a>
        </li>
        <li>
          <a href="#quienesSomos" id="link4">
            <span>¿Quiénes somos?</span>
          </a>
        </li>
        <li>
          <a href="#contactanos" id="link5">
            <span>Contáctanos</span>
          </a>
        </li>
        
      </ul>

    </div>
  </div>

  </header>