<div class="all">
  <div class="titulo">
    <h2>
      Nuestros Cocineros
    </h2>
  </div>
  <img src="../../../assets/img/repostero1.avif" alt="repostera1" class="repos">

  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere a tempore nostrum doloribus nihil laudantium, quos nisi at. Similique, ipsum corporis. Dolor distinctio eveniet quasi iste! Eum hic dolor assumenda.
    Enim distinctio repellat ea labore quam consectetur nemo optio, ratione, odio, dolor adipisci. Ducimus pariatur consequuntur corrupti eaque eius, harum voluptate cum ut ipsa ipsam maxime sint possimus ea laboriosam!
    Perspiciatis nisi eius laborum amet nihil. Voluptates aliquid eveniet quia cupiditate autem itaque amet deserunt est eligendi adipisci illo sed, quos laborum ad. Nesciunt reiciendis atque voluptates libero consectetur soluta.
  </p>
  
  <div class="side-bar-nosotros" id="nosotros">

    <section class="contenido1">
      <h2> ¿Quiénes somos?</h2>
      <div class="img-nos">
        <img src="../../../assets/img/cupcake-crema.jpg" alt="cupcake crema" class="img">
      </div>

      <div class="texto">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum pariatur in laboriosam dolor architecto excepturi eum. Sunt, consequatur? Qui nihil possimus quasi minima dolorem aut magnam explicabo maiores molestias inventore.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima laudantium rem ea rerum sit qui, alias enim doloribus tenetur nam praesentium, illo accusantium quaerat commodi earum dolorem fuga debitis numquam!
          Harum dolore repellat mollitia nihil explicabo ea asperiores architecto cupiditate accusantium quibusdam inventore illum reprehenderit, consequatur commodi corrupti libero aliquam, magnam vel esse! Magni illo adipisci ut suscipit quibusdam atque.
          Repudiandae aspernatur error molestias repellendus itaque et! Minus, repudiandae quis aliquam nostrum molestiae quia, hic, modi perferendis harum illum veritatis quo rem debitis obcaecati numquam. Quidem facilis cumque suscipit consectetur.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quisquam placeat culpa autem ex cupiditate tenetur, ipsam explicabo nam. Fugit molestias quis quo sint asperiores sit hic aliquid dignissimos sed.
        </p>
      </div>
    </section>

    <section class="clientes">
      <div class="img-cliente">
        <img src="." alt="fiesta de cumple">
      </div>

      <div class="texto">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus blanditiis perferendis nulla quam? Voluptas, quis. Consectetur, nisi, molestias cupiditate quo odio omnis nulla iusto natus, dicta blanditiis voluptatem eaque officiis?
          Earum error dolorum omnis officia suscipit et ex delectus. Quidem repudiandae magni maxime quia ratione suscipit numquam non dolorum cum delectus. Tempore accusamus atque fugit perspiciatis reiciendis? Ipsa, odio harum!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, porro amet recusandae, explicabo ab, repellendus ullam consequatur tempore provident at veniam inventore distinctio nemo? Sequi inventore possimus obcaecati at voluptas.
        </p>
      </div>
    </section>
  </div>

  
</div>