<!-- <div id="contactanos">
  <p class="direccion">
    Nos encontramos en:
    <br>
    Primer Anillo, Av. Irala #1342
  </p>
  

  <div class="dias">
    <h3>Atendemos:</h3>
    <p class="p">
      Lunes a Viernes: De <span>8:00 a 19:00</span>
      <br>
      Sábados y Domingos: De <span> 9:00 a 15:00</span>
    </p>
  </div>
</div> -->

<footer class="seccion">
  <div class="container">
    <div class="row">

      <div class="columna columna-25 columna-mobile-100">
        <img src="../../../assets/img/logoFri.png" alt="logo de coca cola blanco" class="logo-footer">

      </div>

      
      <div class="columna columna-25 columna-mobile-100">
        <h3 class="sub">Datos de contacto</h3>
        <ul>
          <li>abca4835@gmail.com</li>
          <li>799 - 35888</li>
          <li>Tres pasos al frente, Av. Carmelo Ortiz <br>Cochabamba - Bolivia</li>
        </ul>
      </div>

      <div class="columna columna-25 columna-mobile-100">
        <h3 class="sub">Redes Sociales</h3>

        <ul class="redes">
          <li>
            <a href="#">
              <i class="fa-brands fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-brands fa-twitter-square"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-brands fa-instagram-square"></i>
            </a>
          </li>
        </ul>

      </div>

    </div>

    <div class="barra-footer">
      &copy; Derechos Reservados - <span id="anio"></span> <!--simbolo del CopyRight-->
    </div>
  </div>
</footer>