#contactanos{
  background-color: #492618;
  width: 98.1%;
  margin-bottom: -16px;
  margin-left: -8px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  text-align: center;
}

.direccion {
  color: rgba(214, 146, 18, 0.823);
  font-family: 'Caveat', cursive;
  font-weight: bold;
  font-size: 40px;
}

.dias{
  font-family: 'Happy Monkey', cursive;
  color: white;
}

.dias h3{
  font-size: 25px;
  
}

span {
  font-weight: bold;
}

/*
Footer
*/



.container {
  width: 1024px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;

  /*
  relaive Puede mover con top, bottom, left, right y z-index no moviendo los otros elementos que tienen cerca, en su lugar se queda un contrenido invisible, cuando se mueve el elemente que tiene position: relative
  */
  position: relative;
}

.row{
  display: flex;
  /*Si una columna no entra, esa columna va hacia abajo*/
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.sub{
  font-family: 'Caveat', cursive;
  font-size: 25px;
}

.columna-25{
  width: 25%;
}

.columna-33{
  width: 33.33%;
}


footer{
  background-color: rgba(214, 146, 18, 0.823);
  color: rgb(106, 44, 8);
  padding-top: 60px;
  
}

footer .barra-footer{
  background-color: #492618;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .logo-footer{
  width: 90%;
}

footer p{
  margin-bottom: 30px;
}

footer a{
  color: #492618;
}

footer .redes{
  font-size: 30px; /*agreanda iconos*/
  display: flex;
  justify-content: space-between;
}

footer .redes a{
  margin: 0px 7.5px;
}

footer ul{
  padding-right: 0px;
  list-style: none;
  margin: 0px;
}

footer ul li{
  margin-bottom: 10px;
  margin-left: -40px;
}


.barra-footer{
  color: rgb(255, 248, 215);
  font-size: 20px;
}