<div id="contactanos">
  <h2 class="titulo">
    Envianos un mensaje
  </h2>

  <form id="formulario-contacto">

    <div class="form-block" id="grupo-nombre">
      <input type="text" id="nombre" class="form-control" placeholder="Nombre" required maxlength="20">
      <p class="formulario-input-error">
        El nombre solo tiene letras
      </p>
    </div>

    <div class="form-block" id="grupo-email">
      <input type="text" id="email" class="form-control" placeholder="Correo Electrónico" required maxlength="40">
      <p class="formulario-input-error">
        El correo electrónico no tiene el formato correcto
      </p>
    </div>

    <div class="form-block" id="grupo-mensaje">
      <textarea id="mensaje" cols="30" rows="10" placeholder="Mensaje" required maxlength="500"></textarea>
      <p class="formulario-input-error">
        Solo numeros y letras
      </p>
    </div>

    <div class="form-block bloque-ultimo">
      <input type="submit" id="btnEnviar" class="boton boton-negro" value="Enviar">
      <p class="formulario-mensaje-exito">
        Formulario enviado exitosamente!
      </p>
    </div>

  </form>
  
  <h2>Visitanos en</h2>

  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2136.993560856918!2d-66.18246771315809!3d-17.37871611029283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1szonaBike!5e0!3m2!1ses!2sbo!4v1650462242550!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>