/* You can add global styles to this file, and also import other style files */

h2{
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  color: #492618;
  font-family: 'Happy Monkey', cursive;
  font-weight: bold;
  padding: 30px;
}